body, .theme-light, .theme-dark {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;


	--color-base-00: white;
	--color-base-05: white;
	--color-base-10: white;
	--color-base-20: white;
	--color-base-25: white;
	--color-base-30: white;
	--color-base-35: white;
	--color-base-40: white;
	--color-base-50: black;
	--color-base-60: black;
	--color-base-70: black;
	--color-base-100: black;
	--accent-h: 0;
	--accent-s: 0;
	--accent-l: 0;

	--nav-indentation-guide-color: black;

	--background-modifier-cover: rgba(0,0,0, 0.5);

	--modal-border-color: black;
	--shadow-l: 3px 3px 0px black;
	--input-shadow: 1px 1px 0px black;

	--background-modifier-border: black;
	--caret-color: black;
	--background-secondary: white;

	--toggle-border-width: 1px;

	--text-selection: black;
	--text-highlight-bg: black;
}

::selection {
	color: white;
	background-color: var(--text-selection);
}

.lt-underline.lt-major, .lt-major .lt-title > span {
	text-decoration: black wavy underline 1px;
	box-shadow: none;
}

.lt-underline.lt-minor, .lt-minor .lt-title > span  {
	text-decoration: black dashed underline 1px;
	box-shadow: none;
}

.lt-underline.lt-style, .lt-style .lt-title > span {
	text-decoration: black dotted underline 1px;
	box-shadow: none;
}

.lt-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 6px;
}

.lt-buttoncontainer {
	display: flex;
	flex-direction: row;
}

.lt-info-container {
	position: unset;
	padding-top: 10px;
}

.lt-predictions-container.cm-tooltip {
	border-radius: var(--radius-s);
	box-shadow: var(--shadow-l);
}

.lt-ignore-button {
	box-shadow: none;
}

button.lt-ignore-btn, button.lt-info-button {
	border: unset;
}

button.lt-ignore-btn {
	border-top: 1px solid black;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

.nav-file-tag {
	background: transparent;
}

body:not(.is-grabbing) .nav-file-title.is-active:hover, body:not(.is-grabbing) .nav-folder-title.is-active:hover, .nav-file-title.is-active, .nav-folder-title.is-active {
	border: 1px solid black;
	background: white;
}

select, .dropdown, button {
	border: 1px solid black;
}

.checkbox-container.is-enabled:after {
	background: black;
}

.checkbox-container {
	box-shadow: none;
	border: 1px solid black;
	height: calc(var(--toggle-thumb-height) + var(--toggle-border-width)* 6);
	width: calc(var(--toggle-width) + var(--toggle-border-width) * 4);
}
.checkbox-container::after {
	border: 1px solid black;	
	box-shadow: none;
}

input[type='range']::-webkit-slider-thumb {
	border: 1px solid black;
	box-shadow: var(--input-shadow);
}